.progress {
    height: 70vh;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.steps {
    /* background-color: yellow; */
    display: flex;

}

.lines {
    position: relative;
    left: 8px
}